

.efectoagrandar {
    color: black;
    text-align: center;
    margin: 50px;
    transition: 1s;
    border-radius: 5px;

}

.efectoagrandar:hover {
    transform: scale(1.30)
}


.efectoagrandar p{
    text-decoration: none;
    color: black;
}
